.App {
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 50rem;
  max-width: 110rem;
  width: 100%;
}

.App > * {
  border: 0.2rem solid var(--border-color, gray);
  flex: 1 1 0;
  font-size: 1.3rem;
  max-height: 100%;
  padding: 1em;
}
